.articles__banner {
  overflow: hidden;
  background-color: $secondary-light-color;
  text-align: center;
  &__text {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    p {
      line-height: 28px;
      margin: 15px 0 20px;
      @media (max-width: 1050px) {
        line-height: 20px;
      }
      @media (max-width: 450px) {
        line-height: 18px;
      }
    }
  }
}
